
  <div id='data'>
    <script>
      var map;
      var infowindow;
      var booya = [];

      function initMap() {
        var loc = {lat: {{data['results'][0]['geometry']['location']['lat']}}, lng: {{data['results'][0]['geometry']['location']['lng']}}};

        map = new google.maps.Map(document.getElementById('map'), {
          center: loc,
          zoom: 15
        });
        

        infowindow = new google.maps.InfoWindow();
        var service = new google.maps.places.PlacesService(map);
        service.nearbySearch({
          location: loc,
          radius: 2500,
          type: ['restaurant'],
          keyword: ['{{type}}'],
          openNow: true
        }, callback);
      };

      function callback(results, status) {

        if (status === google.maps.places.PlacesServiceStatus.OK) {
          for (var i = 0; i < results.length; i++) {
            createMarker(results[i]);
            console.log(results[i]);
            $('#list').append("<div class='well'><h4><a href='#'>"+results[i]['name']+"</a></h4><p>Price: "+results[i]['price_level']+"</p><p>Rating: "+results[i]['rating']+"</p><p>"+results[i]['vicinity']+"</p></div>");
          }
        }
      };

      

      function createMarker(place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });
        var name = place.name;
        var add = place.vicinity[0]+place.vicinity[1]+place.vicinity[2]+place.vicinity[3];
        var Rid;
        $.get('http://opentable.herokuapp.com/api/restaurants?name='+name+'&address='+add, function(res){
        if(res['total_entries']== 0){
        Rid = 0;}
        else{    
        Rid = res['restaurants'][0]['id'];}
        console.log(Rid);
        });   
        google.maps.event.addListener(marker, 'click', function() {
            if ( Rid == 0){
                infowindow.setContent('<div><strong>' + place.name + '</strong><br>');
                infowindow.open(map, this);}
            else{
          infowindow.setContent('<div><strong>' + place.name + '</strong><br>'+'<a href="http://www.opentable.com/single.aspx?rid='+Rid+'&restref='+Rid+'&rtype=ism">Reserve Now  on OpenTable.com</a>' + '</div>');
          infowindow.open(map, this);}
        });
      };
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtUacD4feeXpYF3Fg_XkSAGqa7ZehTk2c&libraries=places&callback=initMap" async defer></script>
  </div>

