form{
    margin-top: 100px;
}

.well{
    margin-top: 10px;
}

.info{
    margin-top: 80px;
}

.main-post{
    margin-top: 40px;
}
#post-text{
    width: 100%;
}

.comment{
    width: 98%;
    margin-right: 1px;
}
.white{
    background-color: white;
}
.comment-text{
    width: 98%;
    height: auto;
    margin-right: 1px;
/*    margin-bottom: 20px;*/
}
#login-dp{
    min-width: 125px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}

#look{
    height: auto;
    background-color: silver;
    padding-bottom: 50px;
}

